<section class="blog">
	{{! Blog list }}
	{{#if blogPosts}}
		<header class="blog-header">
			<h3 class="blog-title">Blogs</h3>
		</header>
		{{#each blogPosts}}
			{{>blog-view}}
		{{/each}}

	{{! Single Blog}}
	{{else if blog}}
		{{>blog-view blog}}
		{{>comments-view blog}}
	{{/if}}
</section>