<form class="form blog-form" action="?" method="POST">
	<header class="form__header blog-form__header">
		<h1 class="form__title blog-form__title">{{blogPostForm.title}}</h1>
	</header>
	<div class="form__input-group blog-form__input-group">
		<label class="form__label blog-form__label" for="title">Title</label>
		<input class="form__input blog-form__input" type="text" id="title" name="title"/>
	</div>
	<div class="form__input-group blog-form__input-group">
		<label class="form__label blog-form__label" for="body">Body</label>
		<textarea class="form__textarea blog-form__textarea" id="body" name="body"></textarea>
	</div>
	<div class="blog-form__button-group">
		<input class="form__button blog-form__button--submit" type="submit"/>
		<input class="form__button blog-form__button--reset" type="reset"/>
	</div>
</form>