<form class="form register-form" action="?" method="POST">
	<header class="form__header register-form__header">
		<h1 class="form__title register-form__title">{{registerForm.title}}</h1>
	</header>
	<div class="form__input-group register-form__input-group">
		<label class="form__label register-form__label" for="first_name">First Name</label>
		<input class="form__input register-form__input" type="text" id="first_name" name="first_name"/>
	</div>
	<div class="form__input-group register-form__input-group">
		<label class="form__label register-form__label" for="last_name">Last Name</label>
		<input class="form__input register-form__input" type="text" id="last_name" name="last_name"/>
	</div>
	<div class="form__input-group register-form__input-group">
		<label class="form__label register-form__label" for="email">Email</label>
		<input class="form__input register-form__input" type="email" id="email" name="email"/>
	</div>
	<div class="form__input-group register-form__input-group">
		<label class="form__label register-form__label" for="password">Password</label>
		<input class="form__input register-form__input" type="password" id="password" name="password"/>
	</div>
	<div class="form__button-group register-form__button-group">
		<input class="form__button register-form__button--submit" type="submit"/>
		<input class="form__button register-form__button--reset" type="reset"/>
	</div>
	<section class="form__footer register-form__login">
		<a href="/login" class="link register-form__login-link">Already have an account?</a>
	</section>
</form>