@use "values" as x; // Predefined values and settings

.blog, .comments {
	display:         flex;
	flex-flow:       column nowrap;
	align-items:     center;
	justify-content: center;

	gap:             map-get(x.$sizes, "xlarge");

	font-family:     x.$font-main;

	&__post {
		width:         500px;
		// Borders
		border:        1px solid map-get(x.$colors, "border");
		border-radius: map-get(x.$sizes, "small");
		box-shadow:    map-get(x.$shadows, "medium-large");

		&-header {
			display:         flex;
			flex-flow:       row wrap;
			justify-content: space-between;
			padding:         map-get(x.$sizes, "medium");
		}
		&-footer {
			display:         flex;
			justify-content: flex-end;
			padding:         map-get(x.$sizes, "medium");
			font-size:       map-get(x.$font-sizes, "small");
		}

		&-author,
		&-date {
			font-size: map-get(x.$font-sizes, "small");
		}

		&-body {
			padding:   map-get(x.$sizes, "medium-large");
			font-size: map-get(x.$font-sizes, "medium-small");
		}

		&-title {
			width:     100%;
			font-size: map-get(x.$font-sizes, "medium");
		}
	}
}

.comments { gap: map-get(x.$sizes, "medium");}